[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/bufkill"]
	path = bundle/bufkill
	url = git://github.com/vim-scripts/bufkill.vim.git
[submodule "bundle/themes"]
	path = bundle/themes
	url = git://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "bundle/cmd-T"]
	path = bundle/cmd-T
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = git://github.com/hallettj/jslint.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/ddollar/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/wycats/nerdtree.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/conque"]
	path = bundle/conque
	url = git://github.com/rson/vim-conque.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/git"]
	path = bundle/git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/haml"]
	path = bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/markdown-preview"]
	path = bundle/markdown-preview
	url = git://github.com/robgleeson/vim-markdown-preview.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/rooter"]
	path = bundle/rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = git://github.com/kogakure/vim-sparkup.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tsaleh/vim-tcomment.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
