[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/bufkill"]
	path = bundle/bufkill
	url = git://github.com/vim-scripts/bufkill.vim.git
[submodule "bundle/themes"]
	path = bundle/themes
	url = git://github.com/vim-scripts/Color-Sampler-Pack.git
